@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

header {
  margin: 0 15%;
  padding: 20px 0 20px 40px;
  background: linear-gradient(to bottom, #769715, #99cc01);
  color: rgb(255, 255, 255);
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
  font-size: 42px;
  line-height: 14.16px;
  letter-spacing: 1.3px;
}
span.boldText {
  font-weight: 900;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: none;
  margin: 30px 15% ;
}
li {
  width: 100%;
}
li a {
  text-decoration: none;
}
a{
    color: #264d1e;
    font-size: 20px;
}
main
 {
  font-size: 13px;
  color: #264d1e;
}
h2{
     font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
}
.firstBlock {
  display: flex;
  max-height: 300px;
  margin: 0 15%;
  background-color: #eff1fd;
}
.firstImg {
  margin: 20px 0 10px 50px ;
  min-height: 90px ;
  min-width: auto;


}
.textBlock h1{
  flex: 1;
  margin-top: 50px;
}
.firstPar {
  margin: 50px  70px 0 70px;
}
.blockParag::first-line {
  color: #80a60f;
  font-size: 15px;
}
.mainBlock{
    margin:20px 10% 10px 10% ;
}

aside{
    border-right:2px solid #efeffb  ;
    margin: 0 30px 20px 100px;
    padding-right:30px  ;
    width: 30%;
    float: left;
}
.rightBlock{
    display: flex;
    flex-direction: column;
    margin-right: 70px ;
}
.topBlock,
.bottomBlock{
    display: flex;
    margin-right: 10px;
}
.topBlock{
    border-bottom: 2px solid #efeffb;
}

.textWithImg{
    margin: 0 0 5px 30px;
}
.imgsBlockRight{

    margin: 20px;
    max-height: 94px;
    width: auto;
    
}
footer{
    padding-top: 10px ;
    margin: 20px 15% 30px  15%;
    border-top:  4px solid #efeffb;
    font-size: 10px;
}