* {
  font-family: 'Roboto', sans-serif;
}

header h1 {

  background: linear-gradient(to bottom, #008000, #ADFF2F);
  padding: 33px  35px;
  font-size: 33px;
  font-weight: 200;
  line-height: 14.16px;
  letter-spacing: 1.3px;
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: none;
}



nav a {
  text-decoration: none;
  padding: 20px 30px;

}

main,
nav a {
  color: green;
}


.anothe-color::first-line {
  color: limegreen;
}

.first {
  padding: 10px 0 10px 50%;
  background-color: #EEEEEE;
}

.conteiner {
  display: flex;
}

.paragraph {
  flex: 1;
  margin-right: 20px;

}

/* .imagecolom {} */

.side {
  flex: 1;
    margin-left: 10px;
}

hr{
   border-style: solid;
   border-radius: 10px;
   border-width: 1px;
   color: #EEEEEE;
}

.bottomLine{

   border-width: 2px;
}
.foot{
  text-size: 3px;
}